body {
  background: linear-gradient(135deg, #141e30, #243b55);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.container {
  text-align: center;
  margin-top: 80px;
}

.block {
  background: rgba(255,255,255,0.1);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

button {
  padding: 12px;
  margin: 10px;
  border-radius: 10px;
  background: #00c6ff;
}